services:
  mongodb:
    image: mongo:latest
    container_name: cypher_mongo
    # THÊM DÒNG NÀY: Khởi động với tên replica set là rs0
    command: ['--replSet', 'rs0', '--bind_ip_all']
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
